.layout {
    height: 400px;
    width: 1200px;
    background: grey;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    background-color: #c3c3c3;
    color: #333;
    border-radius: 3px;
    padding: 20px;
    font-size: 40px;
}